.matchesSection {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  justify-content: center;
  align-items: center;
}

#division {
  background-color: var(--secundary-color-2);
  height: 2px;
  width: 100%;
  margin-top: 3rem;
}

.end-games {
  margin: 3rem 0;
  width: 100%;
  display: grid;
  grid-template-columns: minmax(300px, 840px);
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: .5rem;
}

.matches {
  background-color: var(--secundary-color-2);
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem 1.5rem 1rem;
  border-radius: 4px;
  position: relative;
}

.matches  p {
  font-size: 1rem;
  font-weight: 400;
}

.infoMatch {
  display: flex;
  justify-content: center;
  gap: .5rem;
  margin-bottom: 1rem;
  color: var(--main-color);
}

.infoMatch p {
  font-size: .8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.infoMatch p::after {
  display: inline-block;
  content: '';
  width: 6px;
  height: 6px;
  background-color: var(--main-color);
  transform: rotate(-45deg);
  margin-left: 8px;
}

.infoMatch p:last-child:after {
  display: none;
}

.stadium {
  color: #797777;
  font-size: 1rem;
}

.stage {
  color: #797777;
  font-size: 1rem;
}

.scoreBoard {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  position: relative;
}

.scoreBoard img {
  height: 40px;
  width: 60px;
  object-fit: cover;
} 

.scoreBoard div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.country {
  gap: .5rem !important;
  color: var(--secundary-color-4);
}

.infoScore {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--secundary-color-3);
  font-weight: 700;
}

.penalties {
  color: #924141;
}

.btn {
  padding: 12px 24px;
  border-radius: 6px;
  border: transparent;
  background-color: var(--submain-color-1);
  color: var(--main-color);
  font-size: .9rem;
  font-weight: 600;
  text-decoration: none;
}

.btn{
  color: var(--main-color);
  text-decoration: none;
}

.btn:hover {
  cursor: pointer;
  transition: .3s;
  box-shadow: 0 0 0 1px #924141, 0 0 0 2px var(--main-color);
}

@media (min-width: 360px) and (max-width: 590px){
  .scoreBoard img { 
    display: block;
    height: 15px;
    width: 20px;
    object-fit: cover;
  }

  .matches  p {
    font-size: .65rem;
  }

  .infoMatch p {
    font-size: .56rem;
  }

  .infoMatch p::after {
    width: 4px;
    height: 4px;
  }

  /* .matches:last-child::after {
    padding: 4px 8px;
    font-size: .5rem;
    right: -4px;
    top: -8px;
  }
  
  .matches:nth-last-child(2)::after {
    padding: 4px 8px;
    font-size: .5rem;
    right: -4px;
    top: -8px;
  } */
}

@media (max-width: 359px) {
  .end-games {
    grid-template-columns: minmax(0,1fr);
  }

  .scoreBoard img {
    display: none;
  } 

  .matches  p {
    font-size: .8rem;
  }

  .infoMatch p {
    font-size: .47rem;
  }

  .infoMatch p::after {
    width: 4px;
    height: 4px;
  }

  /* .matches:last-child::after {
    padding: 4px 8px;
    font-size: .4rem;
    right: -4px;
    top: -8px;
  }
  
  .matches:nth-last-child(2)::after {
    padding: 4px 8px;
    font-size: .4rem;
    right: -4px;
    top: -8px;
  } */
}
