#division {
  background-color: var(--secundary-color-2);
  height: 2px;
  width: 100%;
  margin-top: 3rem;
}

.end-games {
  margin: 3rem 0;
  width: 100%;
  display: grid;
  grid-template-columns: minmax(400px, 840px);
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.matches {
  background-color: var(--secundary-color-2);
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem 1.5rem 1rem;
  border-radius: 4px;
}

.matches  p {
  font-size: 1rem;
  font-weight: 400;
}

.infoMatch {
  display: flex;
  justify-content: center;
  gap: .5rem;
  margin-bottom: 1rem;
  color: var(--main-color);
}

.infoMatch p {
  font-size: .8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.infoMatch p::after {
  display: inline-block;
  content: '';
  width: 6px;
  height: 6px;
  background-color: var(--main-color);
  transform: rotate(-45deg);
  margin-left: 8px;
}

.infoMatch p:last-child:after {
  display: none;
}

.stadium {
  color: #797777;
}

.scoreBoard {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  position: relative;
}

.scoreBoard img {
  height: 40px;
  width: 60px;
  object-fit: cover;
} 

.scoreBoard div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.country {
  gap: .5rem !important;
  color: var(--secundary-color-4);
}

.infoScore {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--secundary-color-3);
  font-weight: 700;
}

.penalties {
  color: #924141;
}