.worldChampions {
  background-color: #B1D4E5;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.contentWorld {
  display: none;
}

.contentWorld.active {
  display: grid;
  grid-template-columns: minmax(300px, 670px) minmax(400px, 980px);
  height: 100%;
  width: 100%;
  gap: 3rem;
}

#short {
  height: 100%;
  width: 100%;
  opacity: 0;
  transform: translateY(-50%);
  animation: animationShort 3s ease-in-out forwards;
}

@keyframes animationShort {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

#short img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

#infoContainer {
  display: flex;
  height: 100%;
  position: relative;
  animation: animationLeft 3s ease-in-out forwards;
}

#info {
  margin-top: 5rem;
  z-index: 1;
}

#info h2 {
  color: white;
  font-size: 3rem;
  margin-bottom: .5rem;
  font-family: var(--font-titles-medium);
}

#info p {
  color: #FAFAFA;
  font-size: 1.2rem;
}

.infoChampionImg img {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 0;
  max-width: 100%;
  max-height: 100%;
  animation: animationSouthAmerica 3s infinite;
}

@keyframes animationSouthAmerica {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .75;
  }
  100% {
    opacity: 1;
  }
}

.trophies {
  list-style: none;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}

.trophy {
  display: none;
}

.trophy.active {
  display: flex;
  flex-direction: column;
  animation: animationLeft .4s ease-in-out forwards;
}

.trophy p {
  font-family: var(--font-titles-medium);
}

.listOrganize {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.listOrganize::after {
  content: '';
  display: inline-block;
  background: url('../image/worldchampions/trophy.svg') no-repeat;
  background-position: center;
  background-size: contain;
  height: 24px;
  width: 15.88px;
  margin: 0px 0px 6px 4px;
}
.trophy::after {
  content: '';
  display: inline-block;
  width: 4px;
  background-color: rgba(255, 255, 255, 0.301);
  margin-left: 4px;
  opacity: 0;
  height: 0;
  animation: animationTimeLine 2s ease-in forwards;
}

@keyframes animationTimeLine {
  to {
    height: 50px;
    opacity: 1;
  }
}

.trophy:last-child:after {
  display: none;
}

.trophy span {
  content: '';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 12px;
  width: 12px;
  background-color: white;
  transform: rotate(45deg);
  margin-right: .5rem;
  position: relative;
}

.trophy span::before {
  content: '';
  display: inline-block;
  height: 18px;
  width: 18px;
  background-color: rgba(255, 255, 255, 0.301);
  box-shadow: 0px 0px 6px 2px rgba(255, 255, 255, 0.781);
  position: absolute;
  animation: animationTopic 2s ease-in-out infinite;
}

@keyframes animationTopic {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 965px) {
  #info h2 {
    max-width: 460px;
    font-size: 1.6rem;
  }
  
  #info p {
    font-size: 1rem;
    max-width: 440px;
  }
}

@media (max-width: 768px) {
  .contentWorld.active {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  #short {
    height: 100%;
    max-height: 400px;
  }

  #infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    height: auto;
    position: relative;
  }

  .infoChampionImg {
    height: 50%;
  }

  #info {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #info h2 {
    font-size: 1.2rem;
    max-width: 360px;
  }
  
  #info p {
    font-size: .8rem;
    max-width: 340px;
  }
}