*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Loki-bold';
    src: url(fontes/B612-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Loki-boldItalic';
    src: url(fontes/B612-BoldItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Loki-italic';
    src: url(fontes/B612-Italic.ttf) format('truetype');
}

@font-face {
    font-family: 'Loki-regular';
    src: url(fontes/B612-Regular.ttf) format('truetype');
}

body{
    background-image: url(imagens/fundo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

body > #container{
    background-color: rgba(0, 0, 0, 0.623);
    height: 100vh;
    width: 100vw;
}

body > #container{
    font-family: 'Loki-bold';
    color: white;
    text-align: center;
}

body > #container > h1{
    padding-top: 5vh;
}

body > #container > #titulo{
    font-size: 6em;
}

body > #container > #informacoes > #capa{
    display: block;
    max-width: 200px;
    max-height: 400px;
    border-radius: 10px;
}

body > #container > #informacoes{
    margin: 7vh auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 3em;
    padding: 0 20px;
    text-align: left;
    max-height: 400px;
    max-width: 1300px;
}

body > #container > #informacoes > #descricao{   
    height: 250px;
    font-family: 'Loki-regular';
    font-size: 1.3em;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

body > #container > #informacoes > #descricao > #texto{
    order: 1;
}

body > #container > #informacoes > #descricao > .caracter{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: flex-end;
    order: 2;
    font-family: 'Loki-boldItalic';
}

body > #container > #informacoes > #descricao > .caracter > #relogio{
    display: flex;
    gap: 10px;
}

body > #container > #informacoes > #descricao > .caracter > #relogio > img{
    height: 28px;
}

body > #container > #informacoes > #descricao > .caracter > #avaliacao{
    display: flex;
    list-style: none;
}

body > #container > #informacoes > #descricao > .caracter > #avaliacao > .star-icon{
    color: #ffe500;
    cursor: pointer;
}

.star-icon::before{
    content: "\2606";
}

body > #container > #informacoes > #descricao > .botoes{
    display: flex;
    gap: 10px;
    order: 3;
}

body > #container > #informacoes > #descricao > .botoes > .design-btn{
    padding: 10px 20px;
    font-size: .7em;
    cursor: pointer;
    color: white;
    font-family: 'Loki-regular';
    border: none;
    border-radius: 5px;
}

body > #container > #informacoes > #descricao > .botoes > #btn-1{
    background-color: rgb(14, 98, 207);
}

body > #container > #informacoes > #descricao > .botoes > #btn-1:hover{
    background-color: rgba(18, 90, 185, 0.952);
}

body > #container > #informacoes > #descricao > .botoes > #btn-2{
    background-color: rgba(0, 0, 0, 0.815);
    outline: 1px solid white;
}

body > #container > #informacoes > #descricao > .botoes > #btn-2:hover{
    background-color: rgb(44, 44, 44);
}