*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root{
    --verde-escuro: #1a4855;
    --verde-claro: #628e75;
    --branco-gelo: #f9f9f9;
}

@font-face {
    font-family: 'Poppins-Black';
    src: url(fonts/Poppins-Black.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url(fonts/Poppins-Bold.ttf) format('truetype');
}

@font-face{
    font-family: 'Poppins-Medium';
    src: url(fonts/Poppins-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url(fonts/Poppins-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url(fonts/Poppins-SemiBold.ttf) format('truetype');
}

body{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, var(--verde-claro), var(--verde-escuro));
    color: var(--branco-gelo);
    font-family: 'Poppins-Black';
}

img{
    max-width: 100%;
}

ul{
    list-style: none;
}

body > #corpo_principal{
    max-width: 90%;
    text-align: center;
    margin: 3em auto;
    
}

body > #corpo_principal > #conteudo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center; /*alinhamento vertical, não faz diferença nesse caso*/
    align-items: center; /*alinhamento horizontal, deixou os itens alinhados ao meio, conforme solicitado*/
}

body > #corpo_principal > #redes_sociais{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    margin-top: 10px;
}

body > #corpo_principal > #redes_sociais > div > #logo > img{
    max-height: 50px;
}

body > #corpo_principal > #redes_sociais > div > #lista_redes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

body > #corpo_principal > #redes_sociais > div > #lista_redes > li{
    padding: 10px;
}

body > #corpo_principal > #conteudo > #texto{
    text-align: left;
}

body > #corpo_principal > #conteudo > #texto > h2{
    font-size:1.2em;
    font-family: 'Poppins-Regular';
}

body > #corpo_principal > #conteudo > #texto > h1{
    font-size: 4.1em;
    line-height: 1em;
    margin-top: 10px;
}

body > #corpo_principal > #conteudo > #texto > p{
    margin-top: 1em;
    font-size: 1em;
    font-family: 'Poppins-Regular';
    font-weight: 100;
}

body > #corpo_principal > #conteudo > #texto > #organiza_botoes > .botoes{
    font-family: 'Poppins-Medium';
    margin-top: 20px;
    padding:  0.7em 1.8em;
    cursor: pointer;
    color: var(--branco-gelo);
    transform: skew(-24deg);
}

body > #corpo_principal > #conteudo > #texto > #organiza_botoes > .botoes > .organiza_texto{
    transform: skew(24deg);
}

body > #corpo_principal > #conteudo > #texto > #organiza_botoes{
    display: flex;
    flex-direction: row;
}

body > #corpo_principal > #conteudo > #texto > #organiza_botoes > #botao-1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-right: 1em;
    gap: 5px;
    background-color: #67967b;
}

body > #corpo_principal > #conteudo > #texto > #organiza_botoes > #botao-1:hover{
    background-color: rgba(0, 0, 0, 0.24);
}

body > #corpo_principal > #conteudo > #texto > #organiza_botoes > #botao-1 > img{
    height: 20px;
}

body > #corpo_principal > #conteudo > #texto > #organiza_botoes >  #botao-2{
    background-color: #1a485556;
    border: 2px solid #628e75;
}


body > #corpo_principal > #conteudo > #texto > #organiza_botoes > #botao-2:hover{
    background-color: rgba(255, 255, 255, 0.24);
}

@media (max-width: 980px){
    body > #corpo_principal > #conteudo{
        display: flex;
        flex-direction: column-reverse;
    }

    body > #corpo_principal > #conteudo > #texto > #organiza_botoes{
        flex-wrap: wrap;
    }
}