<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../view/estilo.css">
    <link rel="shortcut icon" href="/imagens/image.svg" type="image/x-icon">
    <title>Desafio 3 - Codelândia</title>
</head>
<body>
    <header>
        <div class="bg-header">
            <div class="cabeca">
                <div class="header-1">
                    <h1>Lorem ipsum dolor sit amet</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum molestias atque ut quo iusto temporibus.</p>
                    <button id = "botao-header">Botão</button>
                </div>
                <div class="header-2">
                    <img src="/imagens/image.svg" alt="Bonecos brincando com presente">
                </div>
            </div>
        </div>
    </header>

    <main>
        <section class="cards">
            <div class="card">
                <div class="cores" id="vermelho"></div>
                <div class="textos">
                    <h1>Titulo do card</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                </div>
            </div>

            <div class="card">
                <div class="cores" id="ciano"></div>
                <div class="textos">
                    <h1>Titulo do card</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                </div>
            </div>

            <div class="card">
                <div class="cores" id="rosa"></div>
                <div class="textos">
                    <h1>Titulo do card</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                </div>
            </div>

            <div class="card">
                <div class="cores" id="verde"></div>
                <div class="textos">
                    <h1>Titulo do card</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                </div>
            </div>

            <div class="card">
                <div class="cores" id="amarelo"></div>
                <div class="textos">
                    <h1>Titulo do card</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                </div>
            </div>

            <div class="card">
                <div class="cores" id="roxo"></div>
                <div class="textos">
                    <h1>Titulo do card</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </section>

        <section class="bg-contato">
            <div class="contato">

                <h1>Entre em contato</h1>

                <div class="entradas">
                    <input type="text" placeholder="Nome">
                    <input type="email" placeholder="E-mail">
                    <input type="text" placeholder="Telefone">
                    <input type="text" id="mensagem" placeholder="Mensagem...">
                    <button id="botao-msg">Enviar mensagem</button>
                </div>
            </div>
        </section>
    </main>
</body>
</html>