/* FONTES */

@font-face {
  font-family: 'merri';
  src: url('../fontes/Merriweather-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'lato-regular';
  src: url('../fontes/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'lato-bold';
  src: url('../fontes/Lato-Bold.ttf') format('truetype');
}

/*Variáveis*/
:root {
  --green: #04c35c;
  --blue: #2b6cb0;

  --white: #ffffff;
  --white300: #f7fafc;

  --dark: #1a202c;
  --input: #e8e8e8;

  --fonte-1-Merriweather: 'merri';
  --fonte-2-Lato-regular: 'lato-regular';
  --fonte-3-Lato-bold: 'lato-bold';
}

/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;

}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: var(--blue);
}

a:hover{
  color: #2b6cb0;
  font-weight: 600;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
button,
input {
  border: 0;
}
button:focus,
input:focus {
  border: 0;
}

.principal{
  display: flex;
  height: 100vh;
  width: 100vw;
}

.imagem{
  background-color: var(--white300);
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.lado_direito{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.login{
  width: 350px;
  color: var(--dark);
  font-family: var(--fonte-2-Lato-regular);
}

.login h2{
  font-size: 1em;
  font-weight: 400;
  font-family: var(--fonte-1-Merriweather);
}

.login h1{
  font-size: 1.625em;
  margin: 10px 0px;
  font-family: var(--fonte-1-Merriweather);
}

.entradas{
  margin: 30px 0;
}

.entradas h3{
  font-size: 1em;
  font-weight: 400;
}

.define_tamanho{
  height: 40px;
  width: 100%;
  border-radius: 5px;
  font-size: 1.1em;
  /* Define o tamanho de todos os inputs e botões */
}

.entradas input{
  outline: 1px solid rgba(0, 0, 0, 0.356);
  padding-left: 10px;
  margin: 10px 0;
}

.recuperar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4vh;
  font-size: 1em;
}

#lembrar{
  height: 15px;
  width: 15px;
  margin-right: 5px;
}

.botoes{
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.textos_botoes{
  cursor: pointer;
  font-family: var(--fonte-3-Lato-bold);
  font-weight: 700;
  font-size: 1em;
}
#botao_entrar{
  background-color: var(--green);
  color: var(--white);

}

#botao_fazer-login{
  background-color: var(--dark);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;

}

#botao_fazer-login svg{
  margin-right: 6px;
  padding-bottom: 3px;
}

.cadastrar{
  padding-top: 10px;
  text-align: center;
}

@media (max-width: 800px){
  .imagem{
    display: none;
  }

  .lado_direito{
    padding-top: 10vh;
    width: 100%;
  }

  .oculta{
    visibility: hidden;
  }
}