<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../view/estilo.css">
    <title>Desafio 4 - Login</title>
</head>
<body>
    <main>
        <section class="principal">
            <div class="imagem">
                <img src="../image/image.svg" alt="Tela com perfis de Usuários">
            </div>
    
            <section class="login">
                <h2>Bem vindo de volta</h2>
                <h1>Faça login na sua conta</h1>

                <div class="entradas">
                    <h3>E-mail</h3>
                    <input type="email">

                    <h3>Senha</h3>
                    <input type="password">
                </div>

                <div class="recuperar">
                    <input type="checkbox" id="lembrar">Lembre de mim

                    <a href="#">Esqueceu sua senha?</a>
                </div>

                <div class="botoes">
                    <button id = "botao_entrar">Entrar</button>

                    <button id= "botao_fazer-login">Ou faça login com o Google</button>
                </div>

                <div class="cadastrar">
                    <p>Não tem uma conta?<a href="#">Cadastre-se</a></p>
                </div>
            </section>
        </section>
    </main>
</body>
</html>